* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 26%, rgba(99, 99, 99, 1) 100%);
}

main {
    width: 60%;
    background: linear-gradient(180deg, rgba(24, 3, 38, 1) 0%, rgba(103, 15, 135, 1) 100%);
    position: relative;

    .input-div {
        border-bottom: 2px solid rgb(10, 210, 236);

        input {
            background: none;
        }

        .switch {
            cursor: pointer;
        }
    }

    select {
        cursor: pointer;
    }

    img {
        position: absolute;
    }

    .fromImg {
        top: 40.5%;
        left: 18.5%;
    }

    .toImg {
        top: 55.5%;
        left: 18.5%;
    }
}

@media (width<920px) {
    main {
        .fromImg {
            left: 20%;
        }

        .toImg {
            left: 20%;
        }
    }
}

@media (width<768px) {

    main {
        width: 80% !important;

        .fromSelect,
        .toSelect {
            width: 90% !important;
            font-size: 1em;
        }

        .fromImg {
            top: 42%;
            left: 10.5%;
        }

        .toImg {
            top: 57.5%;
            left: 10.5%;
        }

        .btn-info {
            width: 60% !important;
        }

        h2 {
            font-size: 1em;
        }
    }
}

@media (width<550px) {
    main {

        .fromSelect,
        .toSelect {
            width: 95% !important;
        }

        .fromImg {
            top: 41.5%;
            left: 10.5%;
        }

        .toImg {
            top: 57.5%;
            left: 10.5%;
        }
    }
}

@media (width<435px) {
    main {
        .fromImg {
            top: 41.5%;
            left: 12.5%;
        }

        .toImg {
            top: 57.5%;
            left: 12.5%;
        }
    }
}